ion-tabs{

    ion-icon, .tab-button-text{
        color:#666 !important;
    }

    .tab-button[aria-selected=true]{
        ion-icon, .tab-button-text{
            color: map-get($colors, primary) !important;
        }
    }

    .tabbar{
        background: #FFF !important;
    }

    a:nth-child(2){
        margin-right: 35px;
    }

    a:nth-child(3){
        margin-left: 35px;
    }
}

button.add{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    background: map-get($colors, primary) !important;
    border-radius: 100%;
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    color: #FFF !important;
    bottom: -2px;
    border:3px #FFF solid;
    z-index: 999;
    
    ion-icon{
        color: #FFF !important;
        font-size: 4.2em !important;
        color: #FFF;
        line-height: .6 !important;
    }
    
}

.platform-android ion-tabs{
    button.add{
        ion-icon{
            font-weight: normal;
            font-size: 3em !important;
        }
    }
}