<ion-header>

    <ion-navbar>
        <ion-title>Registro de Venda</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="adicionarItem()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list margin-bottom>
        <ion-list-header>
            Cliente:
        </ion-list-header>

        <button ion-item *ngIf="cliente" ion-item class="sell-item" (click)="menuCliente()">
            {{cliente.name}}
        </button>
        <ion-item *ngIf="!cliente">
            <p>* Adicione um cliente *</p>
        </ion-item>
    </ion-list>

    <ion-list margin-bottom>
        <ion-list-header>
            Produtos
        </ion-list-header>
        <button *ngFor="let produto of produtos; let index = index" ion-item class="sell-item" (click)="menuProduto(index)">
            <span>{{produto.name}}</span><span>{{produto.quantity}} un</span><span>{{produto.price | currency: 'BRL'}}</span>
        </button>
        <ion-item *ngIf="produtos.length == 0">
            <p>* Adicione um produto *</p>
        </ion-item>
    </ion-list>

    <ion-list margin-bottom>
        <ion-list-header>
            Metodos de pagamento
        </ion-list-header>
        <button *ngFor="let pagamento of pagamentos; let index = index" ion-item class="sell-item" (click)="menuPagamento(index)">
            <span>{{pagamento.name}}</span><span>{{pagamento.value | currency: 'BRL'}}</span>
        </button>
        <ion-item *ngIf="pagamentos.length == 0">
            <p>* Adicione um método de pagamento *</p>
        </ion-item>

    </ion-list>


    <ion-list margin-bottom>
        <ion-list-header>
            Observações:
        </ion-list-header>

        <!-- <button ion-item class="sell-item" (click)="menuProduto()">
            <p>A cliente solicitou um produto diferente</p>
        </button> -->
        <ion-item>
            <p>* Adicione uma observação *</p>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-item class="sell-item" *ngIf="produtos.length > 0">
        <span>{{(total > 0 ? 'A pagar' : 'Troco')}}</span><span>{{total | currency: 'BRL'}}</span>
    </ion-item>
    <button no-margin ion-button full large color="primary">Salvar</button>
</ion-footer>