page-registrar-venda {
    .product-item {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .03);
        padding: 5px;
        border-radius: 20px;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        .product-general {
            display: flex;
            flex-direction: row;

            .product-info {
                width: 100%;
                padding: 10px;

                .product-name {
                    h2 {
                        font-size: 20px;
                        margin: 0;
                    }
                }

                .product-value {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .product-price {
                        font-size: 15px;
                        margin-right: 10px;
                        span {
                            color: rgba(0, 0, 0, .5);
                            font-size: 12px;
                        }
                    }

                    .product-qty {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        button {
                            border-radius: 50%;
                        }

                        span.number {
                            display: inline-flex;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}
