page-pesquisa {

    ion-content {
        ion-list {
            button {

                &.first {
                    box-shadow: inset 0 5px 15px -5px rgba(0, 0, 0, 0.38) !important;
                }

                &.actived {
                    background-color: map_get($colors, secondary);
                    color: white;
                }
            }
        }

        ion-slide {
            align-items: flex-start !important;
        }
    }
}
